
<br><br>
<div class="container" style="text-align:center">
    <h1>List of all articles</h1>
</div>
<div style="text-align:right;padding-left:10px;padding-right:10px;"><h3>
  <%= link_to "Create a new Article",new_article_path, { class: 'btn btn-warning btn-lg secondary'}%></h3>
</div>
<br>
<table id="data_table" style="padding-left:10px;padding-right:10px;" class="table table-responsive w-100 d-block d-md-table">
    <thead>
        <th style="width:10%"scope="col" class="table-primary">
            <h3>
                Date
            </h3>
        </th>
        <th scope="col" class="table-primary">
            <h3>
                Title
            </h3>
        </th>
        <th scope="col" class="table-primary">
            <h3>
                Description
            </h3> 
        </th>
    </thead>
    <tbody>
        <%@t=0%>
        <% @articles.each do |art|%>
            <tr class="table-<%= @t%2==0 ? "success": "info"%>">
                <%@t=@t+1%>
                <td>
                    <h4>
                        <%= Date.parse(art.created_at.to_s)%> 
                    </h4>
                </td>
                <td>
                    <h4>
                        <%= link_to art.title, article_path(art)%>
                    </h4>
                </td>
                <td>
                    <h4>
                        <%= simple_format(art.description)%>
                    </h4>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>

<script>
 $(document).ready( function () {
   $('#data_table').DataTable();
});


</script>

