<br> <br>
<br> <br>
<h1 style="text-align:center">
    ARTICLE 
</h1>

<div style="text-align:right;padding-right:10px;"class="mb-3">
  <h3>
    <%= link_to "Create a new Article",new_article_path, { class: 'btn btn-warning btn-lg secondary'}%>
  </h3>
</div>


<div style="padding-left:10px;padding-right:10px;">
  <table id="data_table" class="table table-responsive w-100 d-block d-md-table mb-3">
    <thead>
      <th style="width:10%;"scope="col" class="table-primary">
        <h3>
            Created At
        </h3>
      </th>
      <th scope="col" class="table-primary">
        <h3>
          Title
        </h3>
      </th>
      <th scope="col" class="table-primary">
        <h3>
          Description
        </h3>
      </th>
      <th scope="col" class="table-primary">
        <h3>
          Operations
        </h3>
      </th>  
    </thead>
    <tbody>
      <%@t=0%>
      <tr class="table-<%= @t%2==0?"success": "info"%>">
        <%@t=@t+1%>
        <td>
          <h3>
            <div >
              <%= Date.parse(@articles.created_at.to_s) %>
            </div>
          </h3>
        </td>
        <td>
          <h3>
              <%= @articles.title%> 
          </h3>
        </td>
        <td>
          <h3>
            <div >
              <%= simple_format(@articles.description)%> 
            </div>
          </h3>
        </td>
        <td style="text-align:center">
          <h3>
            <%if user_signed_in?%>
              <%if can? :update, @articles%>
                <p style="font-size:16px ">
                  <%= link_to edit_article_path(@articles) do%>
                      <%= fa_icon "edit",class: "btn-lg btn btn-outline-info" %>
                  <% end %>
                  <%= link_to article_path(@article),  method: :delete, data: {confirm: "Are you sure?"},:remote => true do%>
                    <%=fa_icon "trash",class: "btn-lg btn btn-outline-danger"%>
                  <%end%>
                </p>
              <%end%>
            <%end%>
          </h3>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%=render 'articles/comments'%>


<div style="font-size:15px;padding-left:10px;">
    <%= link_to "Back to Home",root_path %>
</div>
<script>
 $(document).ready( function () {
   $('#data_table').DataTable();
});


</script>
