<div style="text-align:center">
<div id="notice"></div>
    <br>
    <br>
    
    <br>
    <h1>List of Users</h1>
</div>
<div style="padding-left:10px">
    <%= form_with url: 'user_search_result',id: "search_form",method: :get,remote: true do |f| %>
        <div class="form-row ">
            <div class="col-auto input-fields-container">
                <%= f.search_field :name,class: "form-control mb-2", id: "search_input", placeholder: "Search"%>
                <%= f.radio_button :gender, "Male",class: "search_radio " %>
                <%= f.label :male, "Male" %>
                <%= f.radio_button :gender, "Female",class: "search_radio " %>
                <%= f.label :female, "Female" %>
                <%= f.radio_button :gender, "Others",class: "search_radio " %>
                <%= f.label :female, "Others" %>
            </div> 
            <%= f.submit "Search", :id => "search_btn", :class => "btn btn-outline-secondary" %>
        </div>
    <%end%>
</div>
            
        
<%if user_signed_in? && current_user.is_admin?%>
    <div style="text-align:right;padding-right: 9px;">
        <div style="text-align:right;">
            <%= link_to 'Add user', "/admin_new_user",  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'bt btn btn-warning btn-lg'}  %>
        </div>
    </div>
<%else%>
    <br><br>
<%end%>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>    
 
<div id="table_aj">
    <%=render 'user',users:@users%>
</div> 

<script>
$("#search_input").blur(function() {
    $("#search_btn").click();
});
$(".search_radio").change(function() {
    $("#search_btn").click();
});
</script>
