<br> <br>
<br>
<div style="padding-left:10px;padding-right:10px" class="outer-container-1">
  <h1>
    <strong>
      <div style="text-align:center">
        <%= @user.name%>
        <br>
      </div>
    </strong>
  </h1>
</div>
<div style="text-align:center;"class="mb-3">
  <%if @user.cover_picture.attached? %>
    <%= image_tag @user
    .cover_picture, style:"width: 200px;height: 200px; display: block ;text-align:center;margin-left:auto;margin-right:auto;"%>
  <%end%>
</div>


<div style="text-align:center;">
  <%if user_signed_in?%>
    <%if current_user.is_admin?%>
      <%= link_to "/admin_edit/#{@user.id}" do%>
        <%= fa_icon "edit",class: "btn-lg btn btn-outline-info" %>
      <% end %>
      <%= link_to user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete the User?"},:remote => true do%>
        <%= fa_icon "trash",class: "btn-lg btn btn-outline-danger"%>
      <%end%>
    <%elsif can? :update,@user%>
      <%= link_to edit_user_registration_path(@user) do%>
        <%= fa_icon "edit",class: "btn-lg btn btn-outline-info" %>
      <% end %>
      <%= link_to user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete the User?"},:remote => true do%>
        <%= fa_icon "trash",class: "btn-lg btn btn-outline-danger"%>
      <%end%>

    <%end%>
  <%end%>
</div>



<%@t=0%>

<%if @articles.length>0%>
<br><br>
  <div class="mb-3" style="padding-left:10px;padding-right:10px">
    <table class="table table-responsive w-100 d-block d-md-table">
      <th scope="col" class="table-primary">
        <h3>Title</h3>
      </th>
      <th scope="col" class="table-primary">
        <h3>Description</h3>
      </th>
      <% @articles.each do |art|%>
        <tr class="table-<%= @t%2==0?"default": "active"%>">
          <%@t=@t+1%>
          <td>
            <h3>
              <%= link_to art.title,article_path(art)%>
            </h3>
          </td>
          <td>
            <h3>
              <%= art.description%> 
            </h3>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
  <div>
    <h4>
      <%= link_to "Back to Home",root_path %>
    </h4>
  </div>
  

<%else%>
  <div >
  <br><br>
    <h5 style="text-align:center">No post available........</h5>
  </div>
  <footer>
    <h4>
      <%= link_to "Back to Home",root_path %>
    </h4>
  </footer>
<%end%>


<div class="w3-center w3-padding-32">
  <div class="w3-bar">
      <%= will_paginate @articles, :container => false, :class=>"w3-button w3-hover-black" %>
  </div>
</div>



