
    <br><br>
    <br><br>
  <h2 style="text-align:center">Forgot your password?</h2>
  <%if resource.errors.any?%>
  
    <div style=" min-height: 15vh; display: flex; flex-direction: column; justify-content: center; align-items: center;min-width: 25vw;">
    <div style="width:300px">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div></div>
  <%end%>
  <div style="min-width: 50vw; min-height: 40vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post },data: { turbo: false }) do |f| %>
      <div class="field">
        <%= f.label :email ,{ class: "col-10 col-form-label"}%>
        <%= f.text_field :email, autofocus: true, autocomplete: "email",class: "form-control shadow rounded" %>
        </div>
        <br>
      <div class="form-group">
        <%= f.submit "Send me reset password instructions" , :class => "success",:id => "btn_login"%>
      </div>
    <% end %>
  <br>
<%= render "devise/shared/links" %>
</div>
