<div style="padding-top:50px !important;">
  <div class="row justify-content-center">
    <div class="col-4 shadow p-3 mb-6 bg-light rounded">
  
    <% flash.each do |name, msg| %>
        <%if name=='alert'||name=='danger'%>
          <div class="alert alert-danger">
            <%=msg%>
          </div>
        <%else%>
        <div class="alert alert-success ">
          <%=msg%>
        </div>
        <%end%>
      <%end%>
    <h2 style="text-align:center;">Log in</h2>
      
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),data: { turbo: false }) do |f| %>
      <div class="form-group ">
        <%= f.label :email,{ class: "col-3 col-form-label"} %>
        <div class="col-10" style= "text-content:center !important;" >
          <%= f.text_field :email, autofocus: true, autocomplete: "email",class: "form-control shadow rounded" %>
        </div>
      </div>

      <div class="form-group ">
        <%= f.label :password,{ class: "col-3 col-form-label"} %>
        <div class="col-10">
          <%= f.password_field :password, autocomplete: "current-password",class: "form-control shadow rounded" %>
        </div>
      </div>
      <div style="padding-left:4%;">
        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me,{ class: "col-3 col-form-label"} %>
        <% end %>
      </div>

      <div class="form-group">
        <div class="col-10">
        <%= f.submit "Log in" ,:class => "justify-content-center btn btn-outline-success btn-lg bst",:id => "bst"%>
      </div>
      </div>
    <% end %>
    <br>
    <div style="text-align:center !important;">
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>